body,p,ul{
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
}
.header-bg{
    height: 720px; 
    width: 1496px;
    background-image: url("background.png");
    position:relative;
    background-size: cover;
    

}
.header-title{
    /* height: 192px; */
    width:646px;
    text-transform: uppercase;
    color:#ffff;
    position:absolute;
    top:50%;
    left:50%;
    font-size: 53px;
    /* margin-top:-96px; */
    /* margin-left:-343px; */
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.text-section{
    width:666px;
    margin: 0 auto;
    border:0 82px solid black; 
    
}
.text-section >p{
    width:500px;
    margin:0 auto;
}
.text-section>.text-para-1{
    margin-top:72px;
    color:#293340;
    font-size: 15px;
    line-height: 18px;
}
.text-section>.text-para-2{
    margin-top:32px;
    color:#293340;
    font-size:13px;
    line-height: 18px;
    margin-bottom: 30px;
}
.text-img{
    
    /* height:480px; */
    width:666px;
    position:relative;
}
.text-section>.text-heading-1{
    margin-top: 30px;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 500;
    color:#363d4f;

}
.text-section>.text-desc{
    margin-top:20px;
    font-size:16px;
    line-height: 16px;
    color:#6d7783;
    
}
.list{
    width: 500px;
    margin:19px auto;
    color:#6d7783;
    font-size: 13px;
    line-height: 16px;
}
.text-section>.qoute{
    font-size: 15px;
    width:420px;
    line-height: 21px;
    color: #6d7783;
    line-height: 21px;
    margin : 30px auto 10px;
}
.gradient{
    display: inline-block;
    width: 502px;
    /* height: 120px; */
    margin: 10px 65px;
}
.may-like{
    text-transform: uppercase;
    margin: 0 150px;
    position:relative;
    left:50%;
    transform: translate(-50%);
}
.cards {
    padding: 0 150px;
}

.card {
    margin-top:40px;
    width: 245px;
    height:307px;
    display:inline-block;
    padding: 0 50px;

}

.card-head {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 27px;
    color: #363d4f;
    
}

.card-text {

    font-size: 10px;
    line-height: 24px;
    color: #6d7783;
}
.header-bg>.logo{
    padding:20px 32px;
}
.footer-bar{
    position: relative;
    margin:30px;
    padding: 16px 645px 19px 250px;
    background-color: #1f2026;
}
.footer-text{
    color:#ffff;
}